<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="home">
        <img
          src="/public/uploads/Screen Shot 2022-03-18 at 22.49.27.png"
          alt=""
        />
      </div>
      <div class="nav">
        <div class="underline">
          About
          <div class="about">
            <div>
              Cảnh trẻ
              <div class="img">
                <img
                  src="https://s120-ava-talk.zadn.vn/5/6/5/b/9/120/ac54a701fd66c9124624b9f1ba98a0b0.jpg"
                  alt=""
                />
              </div>
            </div>
            <div>
              Mạnh trẻ
              <div class="img">
                <img
                  src="https://s120-ava-talk.zadn.vn/9/0/b/3/10/120/18a3eb7f952dab61debe674ee2e0f85a.jpg"
                  alt=""
                />
              </div>
            </div>
            <div>
              Hoàn trẻ
              <div class="img">
                <img
                  src="https://s120-ava-talk.zadn.vn/6/7/7/1/4/120/00fde5e7d8bd01ee009c1ddd11d56869.jpg"
                  alt=""
                />
              </div>
            </div>
            <div>
              Nam già
              <div class="img">
                <img
                  src="https://s120-ava-talk.zadn.vn/a/d/2/f/4/120/6cfcd265bf170513576b9486e82e86aa.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="underline">
          Contact
          <div class="about">
            <div>Facebook</div>
            <div>Phone Number</div>
          </div>
        </div>
      </div>
      <div class="subnav">
        <div class="underline"><a href="/Portfolio">Profile</a></div>
        <div class="btn-out">Log out</div>
      </div>
    </div>
    <div class="content">
      <div class="content-header">
        <div class="boxrun">
          <div class="runbox">
            <div><p>Hello ........adadasdad.., have a nice day</p></div>
          </div>
        </div>

        <h2>Wellcome to Todolist</h2>
        <h3>List everything you need todo</h3>
      </div>
      <a href="/List"
        ><button class="get-started">
          Get Started <i class="fas fa-arrow-right"></i></button
      ></a>
    </div>
    <div class="footer">Copyright © 2022 NodemyK20</div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/js/home.js"></script>
</html>
