* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #0168e8;
  --sub-color: #90429e;
}
@keyframes changeColor {
  0% {
    color: purple;
  }
  30% {
    color: blue;
  }
  60% {
    color: green;
  }
  100% {
    color: purple;
  }
}
@keyframes blink {
  0% {
    border-color: red;
  }
  50% {
    border-color: green;
  }
  100% {
    border-color: red;
  }
}
body {
  background-image: linear-gradient(
    to bottom right,
    purple,
    rgb(192, 253, 255)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  padding: 50px;
  font-family: "Hurricane";
  font-size: 80px;
  margin-bottom: 80px;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

.home {
  position: absolute;
  top: 30px;
  left: 30px;
}
.home img {
  border-radius: 5px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.home::after {
  content: "Go Home page";
  position: absolute;
  width: 100px;
  top: 60px;
  left: 100px;
  border: 3px solid #0168e8;
  padding: 5px;
  color: #fff;
  border-radius: 0px 40px 40px 40px;
  display: none;
}
.home:hover::after {
  display: block;
}
.footer {
  text-align: center;
  position: absolute;
  font-size: 30px;
  bottom: 30px;
  width: 100%;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

/* css rieng*/

.avata {
  cursor: pointer;
  position: relative;
}
.avata::after {
  content: "click to change avata";
  position: absolute;
  top: -60px;
  left: 100px;
  width: 100px;
  border: 3px solid #0168e8;
  padding: 5px;
  color: #fff;
  border-radius: 40px 40px 40px 0;
  display: none;
  text-align: center;
}
.avata:hover::after {
  display: block;
}
.user-img {
  width: 200px;
  height: 200px;
}
.user-img img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.user-profile {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  flex: 1;
}
.user-name {
  font-family: "Hurricane";
  font-size: 35px;
  text-transform: capitalize;
  text-align: center;
}
.Port-detail {
  display: flex;
}
.show-btn {
  margin-left: -700px;
  transition: 0.4s ease-in-out;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  outline: none;
  border: none;
}

.user-profile:hover .show-btn {
  margin: 0;
}
.avata-modal {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 128, 0.233);
}

.avata-change {
  width: 600px;
  height: 200px;
  margin: auto;
  transform: translateY(30vh);
  background-color: purple;
  padding: 30px;
  border-radius: 40px;
}

.avata-change input {
  padding: 30px 0;
  margin-left: 200px;
  cursor: pointer;
}
.avata-btn,
.pass-btn,
.edit-intro-btn {
  display: flex;
  justify-content: space-evenly;
}
.avata-btn button,
.pass-btn button,
.edit-intro-btn button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  outline: none;
  border: none;
  margin-top: 5px;
}

.change-pass-modal,
.edit-intro-modal {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 128, 0.233);
}
.change-pass-detail {
  width: 600px;
  height: 250px;
  margin: auto;
  transform: translateY(30vh);
  background-color: purple;
  padding: 30px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.change-pass-detail input {
  margin: 5px 0;
  padding: 5px;
}

#info {
  padding: 20px;
  font-size: 22px;
  flex: 1;
}
#info p {
  margin: 5px 0;
}

.introheader {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Hurricane";
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  transition: 0.4s ease;
}
.introduce {
  flex: 3;
  width: 500px;
  height: 300px;
  margin-top: -50px;
  margin-right: 30px;
  position: relative;
}
.introduce-detail {
  width: 100%;
  height: 100%;
  border: 3px solid;
  animation: blink 6s infinite;
  padding: 50px;
  border-radius: 10px 100px;
  font-family: "Hurricane";
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
}
.edit-intro {
  position: absolute;
  bottom: -30px;
  right: 50px;
  transition: 0.4s ease-in-out;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  outline: none;
  border: none;
  opacity: 0;
  transition: 0.5s ease;
}
.introduce:hover .edit-intro {
  opacity: 1;
}
.introduce:hover .introheader {
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
.intro-modal-detail {
  width: 600px;
  height: 300px;
  margin: auto;
  transform: translateY(30vh);
  background-color: purple;
  padding: 30px;
  border-radius: 40px;
}
.intro-modal-detail textarea {
  width: 100%;
  height: 90%;
  line-height: 1.5;
  padding: 20px;
  outline: none;
  font-size: 20px;
}
