h1 {
  text-align: center;
  padding: 50px;
  font-family: "Hurricane";
  font-size: 80px;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.home {
  position: absolute;
  top: 30px;
  left: 30px;
}
.home img {
  border-radius: 5px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.footer {
  text-align: center;
  position: absolute;
  font-size: 30px;
  bottom: 30px;
  width: 100%;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
.content {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
}
.content input,
.content select {
  line-height: 1.5;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  outline: none;
  border: none;
}
.btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.btn button {
  width: 200px;
  padding: 18px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  outline: none;
  border: none;
  text-align: center;
<<<<<<< HEAD
  font-size: 18px;
=======
  font-size: 20px;
}
.btn button:hover {
  background-color: rgba(255, 255, 255, 0.623);
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 2s;
>>>>>>> ba0d281e73a2fcb45e8475735655c83572b95587
}
.result {
  height: 30px;
  color: red;
}
