<% listData.map(function(value){ %>

<div class="listjob">
  <a class="list-detail" href="/list/<%= value._id %>"><%= value.listName %></a>
  <div class="btn-click">
    <button class="btn-view update">update</button>
    <button class="btn-view" onclick="deleteList('<%= value._id %>')">
      remove
    </button>
  </div>
</div>

<% }) %>
