<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todolist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/todo.css" />
  </head>
  <body>
    <a href="/List"><h1>Back to List</h1></a>
    <div class="home">
      <a href="/Home">
        <img
          src="/public/uploads/Screen Shot 2022-03-18 at 22.49.27.png"
          alt=""
        />
      </a>
    </div>
    <div class="header">
      <h2>list title</h2>
      <button
        type="button"
        class="btn-add"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <i class="fas fa-plus"></i>
        ADD
      </button>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Input what you need todo
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <input type="text" name="" id="name" placeholder="Name job" />
            <br />
            <div class="input-select">
              <input type="date" name="" id="deadline" />
              <select name="" id="status">
                <option value="todo">Todo</option>
                <option value="doing">Doing</option>
                <option value="done">Done</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="add()">
              Add
            </button>
            <button
              type="button"
              class="btn btn-secondary close"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
          <p class="result-add"></p>
        </div>
      </div>
    </div>

    <div class="list-data">
      <% status.forEach(value => { %>
      <div class="list-detail">
        <h2 class="title-list"><%= value %></h2>
        <div class="table-info">
          <div class="item-data">
            <table>
              <% listTodo.forEach(item => { %> <% if (item.status === value) {
              %>
              <tr>
                <td class="col-name"><%= item.name %></td>
                <td class="col-date"><%= item.deadline %></td>
                <td class="button-list">
                  <button onclick="removeTodo()">remove</button>
                  <button onclick="updateTodo()">update</button>
                </td>
              </tr>
              <% } %> <%}) %>
            </table>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              <i class="fas fa-cog"></i> Modal Update
            </h5>
          </div>
          <div class="modal-body">
            <input type="text" name="" id="name-up" placeholder="name" /> <br />
            <div class="input-select-2">
              <input type="date" name="" id="deadline-up" />
              <select name="" id="status-up">
                <option value="todo">todo</option>
                <option value="doing">doing</option>
                <option value="done">done</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              id="close-2"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" id="update">
              UPDATE
            </button>
          </div>
          <p class="result-update"></p>
        </div>
      </div>
    </div>
    <div class="footer">Copyright © 2022 NodemyK20</div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/js/todo.js"></script>
</html>
